* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 30px 80px;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav p.logo {
    font-size: xx-large;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    list-style-type: none;
    flex-direction: column;
}

header nav p.user-name {
    background-color: rgb(166, 222, 224);
    color: rgb(37, 106, 209);
    padding: 10px;
    border-radius: 10px;
}

main {
    padding: 0 40px;
    margin: 40px;
}

section.hero {
    display: flex;
    gap: 100px;
}

section.hero div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.hero div h1 {
    font-size: 48px;
}

section.hero div span {
    color: teal;
}

section.hero div button {
    width: fit-content;
    padding: 25px;
    border-radius: 15px;
    color: #fff;
    background-color: rgba(18, 214, 228, 0.877);
    font-size: 16px;
    border: none;
}